.ediotr-sumscope {
  display: flex;
  flex-direction: column;
  position: relative;
  .at-list {
    position: absolute;
    top: -105px;
    left: 10px;
    height: 100px;
    width: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #172422;
    // box-shadow: 0px 4px 30px 0px gainsboro;
    border-radius: 4px;
    .at-item {
      &:nth-child(2n) {
        background-color: #121a19;
      }
      .avatar {
        height: 12px;
        width: 12px;
        border-radius: 1px;
      }
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      cursor: pointer;
      height: 22px;
      &.hover {
        background-color: #193d37;
      }
    }
  }
  .editor-tools {
    display: flex;
    height: 24px;
    background: #121a19;
    .tool-item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-left: 4px;
      // cursor: pointer;
      // border-radius: 15px;
      // &:hover {
      //   background: rgba(255, 255, 255, 0.05);
      // }
      > img {
        width: 24px;
        height: 24px;
      }
      > input {
        display: none;
      }
      > .tool-item-upload {
        position: relative;
        overflow: hidden;
        width: 20px;
        height: 20px;
        > input {
          position: absolute;
          opacity: 0;
        }
        > img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .editor {
    flex: 1 1 auto;
    cursor: text;
    user-select: text;
    padding: 10px 8px;
    font-size: 14px;
    overflow: auto;
    background-color: #0a0f0e;
    border: none;
    outline: 0;
    &:empty:before {
      content: attr(placeholder);
      color: #4a4d4c;
    }
    &:focus:empty:before {
      content: attr(placeholder);
      color: #606664;
    }
  }
}